In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data/heartdisease/data_with_nan.csv", na_values=["", "."])
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,NaN,NaN,NaN,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,NaN,NaN,NaN,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,NaN,NaN,NaN,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,NaN,NaN,6.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,52,1,4,160.0,331.0,0.0,0.0,94.0,1.0,2.5,NaN,NaN,NaN,1
290,54,0,3,130.0,294.0,0.0,1.0,100.0,1.0,0.0,2.0,NaN,NaN,1
291,56,1,4,155.0,342.0,1.0,0.0,150.0,1.0,3.0,2.0,NaN,NaN,1
292,58,0,2,180.0,393.0,0.0,0.0,110.0,1.0,1.0,2.0,NaN,7.0,1
293,65,1,4,130.0,275.0,0.0,1.0,115.0,1.0,1.0,2.0,NaN,NaN,1

In [7]:
df.isna().sum() / len(df)

age         0.000000
sex         0.000000
cp          0.000000
trestbps    0.003401
chol        0.078231
fbs         0.027211
restecg     0.003401
thalach     0.003401
exang       0.003401
oldpeak     0.000000
slope       0.646259
ca          0.989796
thal        0.904762
num         0.000000
dtype: float64

In [ ]:
# Calculer ratio des na pour chaque colonne
# Si ratio > 50% : dropper la colonne df.drop("nom_colonne", axis=1)
# Si ratio < 1% : dropper la ligne
# Dropper la colonne fbs
# Pour le chol calculer la mean + std et remplacer les nan par mean + noise
# Sauvegarder le résultat dans dataclean.csv

# Créer le dataset ok pour num==0
# Créer le dataset ko pour num==1
# Faire un describe pour ok et ko et déduire si le chol et d'autres colonnes ont un impact sur num
# Sur le dataset clean appliquer le fonction corr() et essayer de comprendre le résultat
# Essayer de comprendre la corrélation entre thalach et num