In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/heartdisease/data_with_nan.csv", na_values=["", "."])
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,NaN,NaN,NaN,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,NaN,NaN,NaN,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,NaN,NaN,NaN,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,NaN,NaN,6.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,52,1,4,160.0,331.0,0.0,0.0,94.0,1.0,2.5,NaN,NaN,NaN,1
290,54,0,3,130.0,294.0,0.0,1.0,100.0,1.0,0.0,2.0,NaN,NaN,1
291,56,1,4,155.0,342.0,1.0,0.0,150.0,1.0,3.0,2.0,NaN,NaN,1
292,58,0,2,180.0,393.0,0.0,0.0,110.0,1.0,1.0,2.0,NaN,7.0,1
293,65,1,4,130.0,275.0,0.0,1.0,115.0,1.0,1.0,2.0,NaN,NaN,1

In [11]:
ratio = df.isna().sum() / len(df)
ratio
# ratio[ratio > 0.5]
# for col in df.columns:
#     if df[col].isna().sum() / len(df) > 0.5:
#         df = df.drop(col, axis=1)
# df

age         0.000000
sex         0.000000
cp          0.000000
trestbps    0.003401
chol        0.078231
restecg     0.003401
thalach     0.003401
exang       0.003401
oldpeak     0.000000
num         0.000000
dtype: float64

In [4]:
# Calculer ratio des na pour chaque colonne
# Si ratio > 50% : dropper la colonne df.drop("nom_colonne", axis=1)
# Dropper la colonne fbs
# Pour le chol calculer la mean + std et remplacer les nan par mean + noise
# Pour les autres nan : dropper la ligne
# Sauvegarder le résultat dans dataclean.csv

# Créer le dataset ok pour num==0
# Créer le dataset ko pour num==1
# Faire un describe pour ok et ko et déduire si le chol et d'autres colonnes ont un impact sur num
# Sur le dataset clean appliquer le fonction corr() et essayer de comprendre le résultat
# Essayer de comprendre la corrélation entre thalach et num

In [5]:
df = df.drop(["slope", "ca", "thal", "fbs"], axis=1)
df

     age  sex  cp  trestbps   chol  restecg  thalach  exang  oldpeak  num
0     28    1   2     130.0  132.0      2.0    185.0    0.0      0.0    0
1     29    1   2     120.0  243.0      0.0    160.0    0.0      0.0    0
2     29    1   2     140.0    NaN      0.0    170.0    0.0      0.0    0
3     30    0   1     170.0  237.0      1.0    170.0    0.0      0.0    0
4     31    0   2     100.0  219.0      1.0    150.0    0.0      0.0    0
..   ...  ...  ..       ...    ...      ...      ...    ...      ...  ...
289   52    1   4     160.0  331.0      0.0     94.0    1.0      2.5    1
290   54    0   3     130.0  294.0      1.0    100.0    1.0      0.0    1
291   56    1   4     155.0  342.0      0.0    150.0    1.0      3.0    1
292   58    0   2     180.0  393.0      0.0    110.0    1.0      1.0    1
293   65    1   4     130.0  275.0      1.0    115.0    1.0      1.0    1

[294 rows x 10 columns]

In [13]:
mean_chol = np.mean(df["chol"])
std_chol = np.std(df["chol"])
mean_chol, std_chol

(np.float64(250.84870848708488), np.float64(67.53276632755606))

In [16]:
df["chol"] = df["chol"].fillna(mean_chol + (np.random.rand() - 0.5) * std_chol)

     age  sex  cp  trestbps        chol  restecg  thalach  exang  oldpeak  num
0     28    1   2     130.0  132.000000      2.0    185.0    0.0      0.0    0
1     29    1   2     120.0  243.000000      0.0    160.0    0.0      0.0    0
2     29    1   2     140.0  219.090465      0.0    170.0    0.0      0.0    0
3     30    0   1     170.0  237.000000      1.0    170.0    0.0      0.0    0
4     31    0   2     100.0  219.000000      1.0    150.0    0.0      0.0    0
..   ...  ...  ..       ...         ...      ...      ...    ...      ...  ...
289   52    1   4     160.0  331.000000      0.0     94.0    1.0      2.5    1
290   54    0   3     130.0  294.000000      1.0    100.0    1.0      0.0    1
291   56    1   4     155.0  342.000000      0.0    150.0    1.0      3.0    1
292   58    0   2     180.0  393.000000      0.0    110.0    1.0      1.0    1
293   65    1   4     130.0  275.000000      1.0    115.0    1.0      1.0    1

[294 rows x 10 columns]

In [17]:
df = df.dropna()
df.to_csv("data/heartdisease/dataclean.csv")

In [18]:
pd.set_option('display.max_columns', None)
ok = df[df["num"]==0]
ok.describe()

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,num
count,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000,187.000000,187.0
mean,46.887701,0.636364,2.620321,130.732620,237.580900,0.224599,145.005348,0.101604,0.204813,0.0
std,7.872861,0.482337,0.861490,16.741011,54.148513,0.478387,22.113708,0.302938,0.518713,0.0
min,28.000000,0.000000,1.000000,98.000000,85.000000,0.000000,90.000000,0.000000,0.000000,0.0
25%,41.000000,0.000000,2.000000,120.000000,207.000000,0.000000,130.000000,0.000000,0.000000,0.0
50%,48.000000,1.000000,2.000000,130.000000,224.000000,0.000000,144.000000,0.000000,0.000000,0.0
75%,54.000000,1.000000,3.000000,140.000000,271.500000,0.000000,160.000000,0.000000,0.000000,0.0
max,62.000000,1.000000,4.000000,190.000000,468.000000,2.000000,190.000000,1.000000,3.000000,0.0

In [19]:
ko = df[df["num"]==1]
ko.describe()

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,num
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.00000,105.000000,105.000000,105.000000,105.0
mean,49.428571,0.885714,3.657143,135.809524,266.556689,0.20000,128.695238,0.666667,1.257143,1.0
std,7.510067,0.319684,0.744577,18.812381,79.040823,0.42517,22.709759,0.473665,1.051817,0.0
min,31.000000,0.000000,1.000000,92.000000,117.000000,0.00000,82.000000,0.000000,0.000000,1.0
25%,46.000000,1.000000,4.000000,120.000000,219.090465,0.00000,115.000000,0.000000,0.000000,1.0
50%,50.000000,1.000000,4.000000,135.000000,255.000000,0.00000,128.000000,1.000000,1.000000,1.0
75%,54.000000,1.000000,4.000000,150.000000,289.000000,0.00000,150.000000,1.000000,2.000000,1.0
max,66.000000,1.000000,4.000000,200.000000,603.000000,2.00000,180.000000,1.000000,5.000000,1.0

In [20]:
df.corr()

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,num
age,1.000000,0.011900,0.153994,0.244305,0.081578,0.052100,-0.459680,0.241532,0.180738,0.156045
sex,0.011900,1.000000,0.252099,0.088311,0.033590,-0.096108,-0.111577,0.156529,0.130192,0.268295
cp,0.153994,0.252099,1.000000,0.089286,0.147687,-0.012227,-0.374122,0.493986,0.359013,0.519364
trestbps,0.244305,0.088311,0.089286,1.000000,0.076573,0.013914,-0.184831,0.215036,0.207985,0.138260
chol,0.081578,0.033590,0.147687,0.076573,1.000000,0.054771,-0.120272,0.174586,0.114222,0.212390
restecg,0.052100,-0.096108,-0.012227,0.013914,0.054771,1.000000,0.004481,0.045392,0.033450,-0.025741
thalach,-0.459680,-0.111577,-0.374122,-0.184831,-0.120272,0.004481,1.000000,-0.402593,-0.303544,-0.331802
exang,0.241532,0.156529,0.493986,0.215036,0.174586,0.045392,-0.402593,1.000000,0.631573,0.589073
oldpeak,0.180738,0.130192,0.359013,0.207985,0.114222,0.033450,-0.303544,0.631573,1.000000,0.557522
num,0.156045,0.268295,0.519364,0.138260,0.212390,-0.025741,-0.331802,0.589073,0.557522,1.000000